- content_for :title do
  = t('user.session.title')

%h2
  %i.fa.fa-user
  = t('user.session.title')
%hr/
= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form-inputs
    = f.input :email, label: t('activerecord.attributes.user.email'), required: false, autofocus: true
    = f.input :password, label: t('activerecord.attributes.user.password'),  required: false
    = f.input :remember_me, label: t('user.session.remember_me'), as: :boolean if devise_mapping.rememberable?
  .form-actions
    = f.button :submit, t('user.session.button'), class: 'btn btn-primary'
%br
= render "devise/shared/links"