%h2= t('company.registration.new.title')
= simple_form_for(@company, :url => hq_companies_path) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email, label: t('activerecord.attributes.company.email'), required: true
    = f.input :password, label: t('activerecord.attributes.company.password'), required: true
    = f.input :password_confirmation, label: t('activerecord.attributes.company.password_confirmation'), required: true
    -#= f.input :time_zone, input_html: { class: 'chosen-select'}, include_blank: t('view.choose')

    = f.simple_fields_for :company_profile do |builder|
      = render 'company_profile_fields', :f => builder
  .form-actions
    = f.button :submit, t('company.registration.new.button'), class: 'btn btn-primary'
