%tr
  %td= user.user_profile.nil? ? t('view.blank') : user.user_profile.first_name
  %td= user.email
  %td= user.blocked ? t('view.yes') : t('view.no')
  %td
    -#=link_to hq_users_path , class: 'btn btn-default btn-xs' do
    -#  %i.icon.glyphicon.glyphicon-eye-open
    - if user.blocked
      = link_to unblock_hq_user_path(user), class: 'btn btn-success btn-xs', title: t('users.activate'), 'data-toggle' => 'tooltip', method: :post do
        %i.fa.fa-check
    - else
      = link_to block_hq_user_path(user), class: 'btn btn-danger btn-xs', title: t('users.block'), 'data-toggle' => 'tooltip', method: :post do
        %i.icon-ban-circle
