- content_for :toolbar do
  = link_to block_all_hq_users_path, class: 'btn btn-danger', method: :post do
    %i.icon-ban-circle
    = t('users.block_all')
.panel.panel-default
  .panel-heading
    .row
      .col-md-8.pull-left
        %h5.search-title
          %i.icon-list.icon-large
          = t('view.list', resource_name: User.model_name.human)
        - if params[:q].present?
          = link_to t('show.all'), hq_users_path, class: 'btn btn-success'
        = link_to t('show.blocked'), hq_users_path(:q => {:blocked_eq => true}), class: 'btn btn-warning'
        = link_to t('show.active'), hq_users_path(:q => {:blocked_eq => false}), class: 'btn btn-info'
      .col-md-4.pull-right
        = search_form_for [:hq, @search] do |f|
          .input-group
            = f.search_field :user_profile_first_name_or_email_cont, class: 'form-control', placeholder: t('users.name_or_email')
            %span.input-group-btn
              = f.button class: 'btn btn-info' do
                %i.icon-search
  .panel-body
    %table.table
      %thead
        %tr
          %th= sort_link(@search,:user_profile_first_name)
          %th= sort_link(@search,:email)
          %th= sort_link(@search,:blocked, t('activerecord.attributes.user.is_block'))
          %th= t('view.actions')
      %tbody
        = render @users
    %br
    %div
      = will_paginate @users, renderer: BootstrapPagination::Rails, bootstrap: 3
