- content_for :toolbar do
  = link_to edit_company_profile_path, class: 'btn btn-default' do
    %i.icon-pencil
    = t('action_button.edit')
.panel.panel-default
  .panel-heading
    %i.icon-edit.icon-large
    = t('tt.show', resource_name: CompanyProfile.model_name.human)
  .panel-body
    = show_for @company_profile do |s|
      = s.attribute :first_name, label: t('activerecord.attributes.company_profile.first_name'), if_blank: t('view.blank')
      = s.attribute :last_name, label: t('activerecord.attributes.company_profile.last_name'), if_blank: t('view.blank')
      = s.attribute :gsm, label: t('activerecord.attributes.company_profile.gsm'), if_blank: t('view.blank')
