.header.clearfix
  %nav
    %ul.nav.nav-pills.pull-right
      - if current_user
        %li.dropdown
          %a.dropdown-toggle{data: {toggle: 'dropdown'}, :href => '#'}
            %i.fa.fa-user
            = current_user.email
            %b.caret
          %ul.dropdown-menu
            %li
              = link_to edit_user_profile_path, class: 'btn btn-large' do
                %i.fa.fa-edit
                = t('navbar.edit_profile')
            %li
              = link_to edit_user_registration_path , class: 'btn btn-large' do
                %i.fa.fa-edit
                = t('navbar.edit_login_info')
            %li.dvider
            %li
              = link_to destroy_user_session_path, class: 'btn btn-large', method: :delete do
                %i.fa.fa-sign-out
                = t('navbar.logout')
      - elsif current_company
        -
      - else
        %li.dropdown{class: set_active([new_user_session_path, new_company_session_path]) }
          %a.dropdown-toggle{data: {toggle: 'dropdown'}, :href => '#'}
            %i.fa.fa-sign-in
            = t('navbar.login')
            %b.caret
          %ul.dropdown-menu
            %li
              = link_to new_user_session_path do
                %i.fa.fa-user
                = t('navbar.login_as_user')
            %li
              = link_to new_company_session_path do
                %i.fa.fa-building
                = t('navbar.login_as_company')

        %li.dropdown{class: set_active([new_user_registration_path, new_company_registration_path])}
          %a.dropdown-toggle{data: {toggle: 'dropdown'}, :href => '#'}
            %i.fa.fa-user-plus
            = t('navbar.register')
            %b.caret
          %ul.dropdown-menu
            %li
              = link_to new_user_registration_path do
                %i.fa.fa-user
                = t('navbar.signup_as_user')
            %li
              = link_to new_company_registration_path do
                %i.fa.fa-building
                = t('navbar.signup_as_company')
      -#%li.dropdown
      -#  %a.dropdown-toggle{data: {toggle: 'dropdown'}, :href => '#'}
      -#    %i.fa.fa-flag
      -#    = t("navbar.language.#{I18n.locale}")
      -#    %b.caret
      -#  %ul.dropdown-menu
      -#    %li
      -#      = link_to locale: :tr  do
      -#        %i.fa.fa-flag
      -#        = t('navbar.language.tr')
      -#    %li
      -#      = link_to locale: :en  do
      -#        %i.fa.fa-flag
      -#        = t('navbar.language.en')
  %h3.text-muted
    = link_to 'Halisaa', root_path, class: 'text-muted'
