%tr
  %td= astroturf.name
  %td= astroturf.phone
  %td= astroturf.city.name
  %td= astroturf.town.name
  %td= l astroturf.created_at
  %td
    =link_to company_astroturf_path(astroturf), class: 'btn btn-info btn-xs', title: t('tooltip.show'), data: {toggle: 'tooltip'} do
      %i.fa.fa-eye
    =link_to timetable_company_astroturf_path(astroturf), class: 'btn btn-info btn-xs', title: t('tooltip.timetable'), data: {toggle: 'tooltip'} do
      %i.fa.fa-calendar
    =link_to edit_company_astroturf_path(astroturf), class: 'btn btn-success btn-xs', title: t('tooltip.edit'), data: {toggle: 'tooltip'} do
      %i.fa.fa-pencil
    =link_to company_astroturf_path(astroturf), data: { toggle: 'tooltip', confirm: t('view.sure')}, class: 'btn btn-danger btn-xs', title: t('tooltip.delete'), method: :delete do
      %i.fa.fa-trash
