.table-header.row
  .col-lg-8
    - if params[:q].present?
      = link_to company_astroturves_path, class: 'btn btn-success' do
        .badge
          = current_company.astroturves.count
        = t('show.all')
  .col-lg-4
    = search_form_for [:company, @search] do |f|
      .input-group
        = f.search_field :name_or_address_or_phone_or_city_name_cont, class: 'form-control', placeholder: t('astroturves.name_or_address_or_phone_or_city_name')
        %span.input-group-btn
          = f.button class: 'btn btn-info' do
            %i.icon-search