.panel.panel-default
  .panel-heading
    %i.icon-edit.icon-large
    = yield :form_title
  .panel-body
    = simple_form_for(@astroturf, url: @astroturf.id.nil? ? company_astroturves_path : company_astroturf_path(@astroturf) ) do |f|
      = f.error_notification
      .row
        .col-lg-4
          = f.input :name
          = f.input :phone, input_html: { class: 'phone', placeholder: '90 555 118 9668' }
        .col-lg-4
          = f.input :city_id, input_html: { class: 'city_id chosen-select'}, multiple: true, collection: City.all, include_blank: t('astroturves.select_city'), selected: @astroturf.city_id
          = f.input :town_id, input_html: { class: 'town_id chosen-select'}, collection: @astroturf.city_id.nil? ? [] : Town.where(city_id: @astroturf.city_id) , include_blank: t('astroturves.select_town'), selected: @astroturf.town_id
        .col-lg-4
          = f.input :week_price
          = f.input :weekend_price
      .row
        .col-lg-12
          = f.input :address
        .col-lg-12
          %p.address= t('astroturves.drag_marker')
      .row
        .col-lg-4
          #map.collapse.in
            #map-canvas
        .col-lg-2
          = f.input :latitude, input_html: { class: 'latitude'}
          = f.input :longitude, input_html: { class: 'longitude'}
        .col-lg-2
          = f.input :start_time
          = f.input :finish_time
      .form-actions
        = f.button :submit, class: 'btn btn-primary'
        = link_to t('cancel'), company_astroturves_path, class: 'btn btn-info'


- content_for :foot do
  :javascript
    var lng='#{@astroturf.longitude}';
    var ltd='#{@astroturf.latitude}';
    var zoom = 16;
    if(typeof(lng) === 'undefined' || lng === '' || typeof(ltd) === 'undefined' || ltd === ''){
      lng = 39.0;
      ltd = 35.0;
      zoom = 5;
    }
    var halisaa = {};
    halisaa['latitude']   = ltd;
    halisaa['longitude']  = lng;
    halisaa['zoom']       = zoom;
    halisaa['draggable']  = true;
  = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?v=3.exp&#38;sensor=false&#38;libraries=places',
      'company/map'
