.panel-heading
  %i.icon-table.icon-large
  = t('tt.index', resource_name: Astroturf.model_name.human)
  .panel-tools
    .btn-group
      %a.btn{href: company_astroturves_path, data: {toggle: 'toolbar-tooltip'}, title: t('view.reload')}
        %i.icon-refresh
    .badge= @astroturves.total_entries
.panel-body.filters
  = render 'filters'
%table.table
  %thead
    %tr
      %th= sort_link(@search,:name)
      %th= sort_link(@search,:phone)
      %th= sort_link(@search,:city_name)
      %th= sort_link(@search,:town_name)
      %th= sort_link(@search,:created_at)
      %th.actions
        = t('view.actions')
  %tbody
    = render @astroturves