- content_for :title do
  = @astroturf.name
  = t('tt.edit', resource_name: Timetable.model_name.human)

- content_for :toolbar do
  = link_to edit_company_astroturf_path(@astroturf), class: 'btn btn-default' do
    %i.icon-pencil
    = t('action_button.edit')
  #external-events
    .fc-event{data: {id: @empty_timetable.id}}
      = t('javascript.not_available_text')
.panel.panel-default
  .panel-heading
    %i.icon-edit.icon-large
    = t('tt.show', resource_name: Timetable.model_name.human)
  .panel-body
    .col-lg-12
      #calendar

- content_for :head do
  = stylesheet_link_tag '/plugins/fullcalendar-2.4.0/fullcalendar.css'
  -#= stylesheet_link_tag '/plugins/fullcalendar-2.4.0/fullcalendar.print.css'

:coffeescript
  @app.timetablesUrl       = '#{api_company_astroturf_timetables_path @astroturf}'
  @app.timetablesIndexUrl  = '#{api_company_astroturf_timetables_index_path @astroturf}'
- content_for :foot do
  = javascript_include_tag '/plugins/fullcalendar-2.4.0/lib/moment.min.js',
   '/plugins/fullcalendar-2.4.0/lib/jquery-ui.custom.min.js',
   '/plugins/fullcalendar-2.4.0/fullcalendar.min.js',
   '/plugins/fullcalendar-2.4.0/lang-all.js',
   'company/fullcalendar'

